{
  "production": {
    "key":    "gdfgdfgfdg",
    "secret": "Q8dfgfdghdfhjtgjmgudXET",
    "bucket": "production",
    "region": "eu-west-1"
  },
  "staging": {
    "key":    "AKsdfsdfsdfsfsfds",
    "secret": "Q8dfsfsdfsdfsdfsdfsdfsdfsET",
    "bucket": "staging",
    "region": "eu-west-1"
  }
}
