<nav class="navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="navbar-item" href="https://bulma.io/">
              Sei un fotografo?
            </a>
          </p>

          <p class="control">
            <a class="navbar-item" href="https://bulma.io/">
              FAQ
            </a>
          </p>
          
          <p class="control">
            <a class="navbar-item" href="https://bulma.io/">
              Contatti
            </a>
          </p>

          <p class="control">
            <a class="button is-primary" href="#">
              <span>ISCRIVITI</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sei un Fotografo o un Videomaker?
      </h1>
      <p class="subtitle">
        ReflexME ti consente di organizzare, gestire e promuovere la tua attività in modo semplice ed efficace.
      </p>

      <p class="control">
        <a class="button is-medium is-white">
          <span>ISCRIVITI ADESSO</span>
        </a>
      </p>
    </div>
  </div>
</section>

<section class="hero is-light is-large has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        Amplifica la tua presenza online e amplia la tua clientela.
      </h2>
      <p class="subtitle">
        Mettiamo in relazione domanda e offerta di servizi fotografici, attraverso una piattaforma innovativa in grado di fornire a fotografi e clienti, nuovi strumenti indispensabili per la tutela e lo sviluppo della loro passione e del loro business.
      </p>
    </div>
  </div>
</section>